.hero-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
}

.hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: var(--gray-color);
    padding: 0 2rem;
    row-gap: 2vh;
}
.hero-container h1 {
    line-height: 1;
    padding: 20px 0;
    text-align: center;
    font-size: 3rem;
}
.hero-container span {
        font-family: "Dancing Script", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #F1966E;
       text-shadow: 2px 2px 0 #5c534f;
       font-size: 4rem;
       padding-left: 2rem;
}

.hero-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.hero-container .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
} 
.button-container {
    width: 190px;
    height: 50px;
}

@media (min-width: 768px) {
    .hero-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: right;
        padding-bottom: 30px;
    }
    
    .hero-text {
        width: 50%;
        align-items: flex-start;
        order: 2;
    }
    .hero-container span {
        color: #AE68FA;
    }
    .hero-container h1 {
        text-align: right;
        font-size: 4rem;
    }

    .hero-img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: left;
        overflow: hidden;
        max-width: none; 
        border-radius: 10px 100px;
    }


    
}

@media (min-width: 1024px) {
    
    .hero-container .buttons {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100px;
    }
}
